@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

.Uses {
  width: 60%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_content {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_title {
    padding-top: 30px;
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 80px;
    text-shadow: 4px 3px 0px #7a7a7a;
  }
  &_button {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    font-family: "Bangers", cursive;
    font-size: 30px;
    text-shadow: 2px 1px 0px #7a7a7a;
  }
  &_button > a {
    color: #c6e48b;
  }
  &_button > a:visited {
    padding: 20px;
  }
  &_description {
    padding-top: 20px;
    display: flex;
    font-size: 36px;
    display: flex;
    align-items: center;
  }
  &_description > svg {
    font-size: 70px;
  }
  &_description > p {
    padding-left: 20px;
  }
}
